# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Datos de tiempo de ejecución ( Runtime Data )
pids
*.pid
*.seed
*.pid.lock

# Directorio de Cobertura

# directorios de dependencias
node_modules/
jspm_packages/

# Directorio opcional de caché npm
.npm

# Historial REPL opcional
.node_repl_history

# Salida de 'npm pack'
*.tgz

# Archivo de integridad de Yarn
.yarn-integrity

# Archivo de variables de entorno dotenv
.env
.env.test

# macOS
.DS_Store

# Docker
Dockerfile.prod
.dockerignore

# Vercel
.vercel

# IDE
.vscode
.idea
